@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Space+Grotesk:wght@600&display=swap');




:root {
  --primary-clr: #4d7e3e;
  --white: #ffffff;
  --shade-of-black: #253529;
  --shade-of-white: #f5f5dc;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* styles for btn  start*/

#subBtnVariant {
  width: 338px;
  height: 48px;
  background-color: var(--primary-clr);
  color: var(--white);
  font-family: 'Space Grotesk', sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  border: none;
}

#subBtnDefault {
  width: 338px;
  height: 48px;
  background-color: var(--shade-of-black);
  color: var(--white);
  font-family: 'Space Grotesk', sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  border: none;
}
/* styles for btn  end*/

/* styles for Card  start*/

#unflipCard {
  width: 176px;
  height: 208px;
  /* border: 1px solid blue; */
}

.card-conatiner {
  width: 176px;
  height: 208px;
  display: inline-block;
  flex-direction: column;
  align-items: center;

  border-radius: 0 0 12px 12px;
}

.img-conatiner {
  width: 108px;
  height: 130px;
  margin-bottom: 18px;
}

.img {
  width: 100%;
  height: 100%;
  margin-bottom: -7px;
}

.white-card {
  width: 176px;
  height: 158px;
  display: flex;
  gap: 0.4px;
  flex-direction: column;
  align-items: center;
}

.name {
  font-family: 'Space Grotesk', sans-serif;
  color: #131010;
}

.role {
  font-family: 'Space Grotesk', sans-serif;
  color: #131010;
}

.read-more {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: var(--primary-clr);
}

.social {
  margin-bottom: -5px;
}

.facebook,
.instagram,
.twitter,
.linkedIn {
  width: 12px;
  height: 12px;
}

#flipCard {
  width: 176px;
  height: 208px;
  margin-top: 10px;
}

.flipcard-wraper {
  width: 176px;
  height: 208px;
  background-color: var(--white);
  border-radius: 0 0 12px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.biography {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 8px;
  font-weight: 400;
  margin-top: 2px;
  margin-bottom: 2px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.description-1,
.description-2 {
  font-size: 8.2px;
  text-align: center;
  color: var(--shade-of-black);
}

.description-2 {
  margin-bottom: 0.4px;
}

.back {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--primary-clr);
  text-decoration: none;
  font-size: 10px;
}

.back-icon {
  height: 6px;
  width: 6px;
}

/* styles for Card  end*/

/* styles for project-card start */
#card {
  width: 316px;
  height: 180px;
}

#slideWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 316px;
  height: 180px;
  background-color: var(--white);
  border-radius: 20px;
}

.image-slide-1 {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 256px;
  height: 108px;
}

.project-image {
  width: 256px;
  height: 108px;
  border-radius: 10px;
}

.project-1 {
  margin-bottom: 8px;
  font-size: 7.2px;
  font-family: 'Space Grotesk', sans-serif;
}

.project-description {
  width: 256px;
  height: 40px;
}

/* styles for project-card end */

/* media-queries for component */

@media (min-width: 475px) {
  /* styles for btn  start*/

  #subBtnVariant {
    width: 338px;
    height: 48px;
    font-size: 12px;
  }

  #subBtnDefault {
    width: 338px;
    height: 48px;
    font-size: 12px;
  }
  /* styles for btn  end*/

  /* styles for Card  start*/

  #unflipCard {
    width: 176px;
    height: 208px;
    /* border: 1px solid blue; */
  }

  .card-conatiner {
    width: 184px;
    height: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    border-radius: 0 0 12px 12px;
  }

  .img-conatiner {
    width: 120px;
    height: 130px;
    margin-bottom: 18px;
  }

  .img {
    width: 100%;
    height: 100%;
    margin-bottom: -7px;
  }

  .white-card {
    width: 176px;
    height: 158px;
    display: flex;
    gap: 0.4px;
    flex-direction: column;
    align-items: center;
  }

  .name {
    font-size: 16px;
    font-weight: 300;
  }

  .role {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 8px;
    font-weight: 500;
    color: var(--shade-of-black);
  }

  .read-more {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: var(--primary-clr);
  }

  .social {
    margin-bottom: -5px;
  }

  .facebook,
  .instagram,
  .twitter,
  .linkedIn {
    width: 12px;
    height: 12px;
  }

  #flipCard {
    width: 176px;
    height: 208px;
    margin-top: 10px;
  }

  .flipcard-wraper {
    width: 176px;
    height: 208px;
    background-color: var(--white);
    border-radius: 0 0 12px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .biography {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 8px;
    font-weight: 400;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .description-1,
  .description-2 {
    font-size: 8.2px;
    text-align: center;
    color: var(--shade-of-black);
  }

  .description-2 {
    margin-bottom: 0.4px;
  }

  .back {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--primary-clr);
    text-decoration: none;
    font-size: 10px;
  }

  .back-icon {
    height: 6px;
    width: 6px;
  }
  /* styles for Card  end*/

  /* styles for project-card start */

  /* styles for project-card end */
}

/* responsives for component */
@media (min-width: 640px) {
  /* styles for project-card start */
  #card {
    width: 600px;
    height: 280px;
  }

  #slideWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 580px;
    height: 280px;
    background-color: var(--white);
    border-radius: 20px;
  }

  .image-slide-1 {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 500px;
    height: 208px;
  }

  .project-image {
    width: 500px;
    height: 108px;
    border-radius: 10px;
  }

  .project-1 {
    margin-bottom: 8px;
    font-size: 7.2px;
    font-family: 'Space Grotesk', sans-serif;
  }

  .project-description {
    width: 256px;
    height: 40px;
  }
}

@media (min-width: 765px) {
  /* styles for Card  start*/
  #subBtnDefault {
    width: 226px;
    height: 32px;
  }

  #unflipCard {
    width: 204px;
    height: 240px;
    /* border: 1px solid blue; */
  }

  .card-conatiner {
    width: 204px;
    height: 240px;
  }

  .name {
    font-size: 16px;
    font-weight: 500;
  }

  .img-conatiner {
    width: 134px;
    height: 148px;
    margin-bottom: 8px;
  }

  .img {
    width: 100%;
    height: 100%;
    margin-bottom: -4px;
  }

  .white-card {
    width: 204px;
    height: 182px;
    gap: 0.8px;
  }

  .role {
    font-size: 12px;
  }

  .read-more {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: var(--primary-clr);
  }

  .social {
    margin-bottom: -5px;
  }

  .facebook,
  .instagram,
  .twitter,
  .linkedIn {
    width: 12px;
    height: 12px;
  }

  #flipCard {
    width: 176px;
    height: 208px;
    margin-top: 10px;
  }

  .flipcard-wraper {
    width: 176px;
    height: 208px;
    background-color: var(--white);
    border-radius: 0 0 12px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .biography {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 8px;
    font-weight: 400;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .description-1,
  .description-2 {
    font-size: 8.2px;
    text-align: center;
    color: var(--shade-of-black);
  }

  .description-2 {
    margin-bottom: 0.4px;
  }

  .back {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--primary-clr);
    text-decoration: none;
    font-size: 10px;
  }

  .back-icon {
    height: 6px;
    width: 6px;
  }

  /* styles for Card  end*/
}
@media (min-width: 1024px) {
  #unflipCard {
    width: 240px;
    height: 240px;
    /* border: 1px solid blue; */
  }

  .card-conatiner {
    width: 240px;
    height: 240px;
  }

  .img-conatiner {
    width: 134px;
    height: 148px;
    margin-bottom: 8px;
  }

  .white-card {
    width: 240px;
  }

  #card {
    width: 900px;
    height: 380px;
  }

  #slideWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 880px;
    height: 380px;
    background-color: var(--white);
    border-radius: 20px;
  }

  .image-slide-1 {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 800px;
    height: 248px;
    margin-bottom: 45px;
  }

  .project-image {
    width: 680px;
    height: 128px;
    border-radius: 10px;
  }

  .project-1 {
    margin-bottom: 8px;
    font-size: 7.2px;
    font-family: 'Space Grotesk', sans-serif;
  }

  .project-description {
    width: 256px;
    height: 40px;
  }
}

@media (min-width: 1280px) {
  /* styles for Card  start*/

  #unflipCard {
    width: 400px;
    height: 520px;
    /* border: 1px solid blue; */
  }

  .card-conatiner {
    width: 400px;
    height: 520px;
  }

  .name {
    font-size: 21px;
    font-weight: 400;
  }

  .img-conatiner {
    width: 270px;
    height: 324px;
    margin-bottom: 8px;
  }

  .img {
    width: 100%;
    height: 100%;
    margin-bottom: -4px;
  }

  .white-card {
    width: 440px;
    height: 394px;
    gap: 0.8px;
  }

  .role {
    font-size: 14px;
    line-height: 32px;
  }

  .read-more {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    color: var(--primary-clr);
  }

  .social {
    margin-block: 10px;
    width: 138px;
    height: 30px;
    margin: 0 aut0;
  }

  .facebook,
  .instagram,
  .twitter,
  .linkedIn {
    width: 30px;
    height: 30px;
  }

  #flipCard {
    width: 176px;
    height: 208px;
    margin-top: 10px;
  }

  .flipcard-wraper {
    width: 176px;
    height: 208px;
    background-color: var(--white);
    border-radius: 0 0 12px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .biography {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 8px;
    font-weight: 400;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .description-1,
  .description-2 {
    font-size: 8.2px;
    text-align: center;
    color: var(--shade-of-black);
  }

  .description-2 {
    margin-bottom: 0.4px;
  }

  .back {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--primary-clr);
    text-decoration: none;
    font-size: 10px;
  }

  .back-icon {
    height: 6px;
    width: 6px;
  }

  #card {
    width: 1100px;
    height: 480px;
  }

  #slideWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1080px;
    height: 480px;
    background-color: var(--white);
    border-radius: 20px;
  }

  .image-slide-1 {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 980px;
    height: 368px;
    margin-bottom: 45px;
  }

  /* styles for Card  end*/
}
